{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Example flask homepage</h1>
        <p>This example Built for study purposes, not so fancy but a quick start into Flask</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}