{% extends 'base.html' %}

{% block head %}
<title>New post</title>
{% endblock %}

{% block body %}
<h2>Create New Blog Post:</h2>
<form action="/posts/new" method="POST">
    <label for="title">Title:</label>
    <input class="form-control" type="text" placeholder="Enter Title" aria-label="Enter Title" name="title" id="title">
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" placeholder="Enter Author" aria-label="Enter Author" name="author" id="author">       
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" rows="3" placeholder="Enter Post Content" name="content" id="content"></textarea>
    <br>
    <input class="btn btn-success" type="submit" value="Post">
</form>
{% endblock %}